.our-main-section-text {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}

.title {
    color: #FFFFFF;
    font-size: 3.125rem;
}

.subtitle {
    color: #FFFFFF;
    font-size: 1.625rem;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.35rem;
    }
}