.our-main-section {
    /* background: black;
    display: flex;
    align-items: baseline; */
    /* =============== */
    border-top: 10px solid #222;
    background: transparent;
    /* border-bottom: 8px solid #222; */
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

.our-main-section .our-main-section-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.mainsection-container-text {
    flex: 0 1 auto;
    height: 100%;
    /* padding: 0 3rem 0 0; */
    width: 100%;
    z-index: 3;
    align-items: center;
}


@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 768px) {
    .our-main-section .our-main-section-container {
        flex-direction: column;
    }

    /* .mainsection-text {
        text-align: center;
    } */

    /* .mainsection-card-animation-img img {
        height: 5em;
    } */

    /* .mainsection-card-animation-text .text-0 {
        font-size: 22px;
    }

    .mainsection-card-animation-text .text-1 {
        font-size: 19px;
    }

    .mainsection-container .text-section {
        text-align: center;
    } */
}

@media screen and (max-width: 375px) {
    /* .mainsection-card-animation-img img {
        height: 3em;
    }

    .mainsection-card-animation-text .text-0 {
        font-size: 16px;
    }

    .mainsection-card-animation-text .text-1 {
        font-size: 14px;
    } */
}