.navbar {
    position: relative;
    z-index: 2;
    padding: 0px 0px 0px 25px;
}

.nav_logo {
    height: 35px;
}

.nav_signin {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 3px;
    float: right;
    position: relative;
}